/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

/* Ajuste del contenido de la izquierda */
.content {
    max-width: 40%;
    
    
}

.content h1 {
    font-size: 50px;
    margin: 0;
}

.content p {
    font-size: 16px;
    margin: 20px 0;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

/* Ajuste de la imagen */
.image img {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
        margin-right: 100px; /* Mueve la imagen más a la derecha */
}

/* Tarjetas */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
}
/* Estilos para pantallas de hasta 768px de ancho (tablets y móviles) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: lightgrey;
    }
}

/* Estilos para pantallas mayores a 1024px de ancho (escritorios) */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
        background-color: lightblue;
    }
}