body{
    background-color: #0a2a3d;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
.div2 {
    grid-row: span 2 / span 2;
}
button {
   background-color: rgb(95, 247, 255);
   border-radius: 10%;
   color: black;
   font-size: 200%;
   align-items: center;
   display: grid;
}
button:hover{
    background-color: aquamarine;
}
.div1 h1{
    font-size: 300%;
    color: rgb(255, 255, 255);
}
.div1 p{
    font-size: 300%;
    color: rgb(255, 255, 255);
}
.div2 img{
    height: 750px;
}