body {
    font-size: 16px;
    background-color: rgb(255, 0, 0);
    display: block;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 2 / span 2;
}

.div2 {
    grid-row: span 2 / span 2;
}
.div2 h1{
    color: rgb(255, 255, 255);
    font-size: 450%;
}
.div2 p{
    font-size: 200%;
    color: rgb(255, 255, 255);
}
.div3 {
    background-color: rgb(255, 238, 0);
    border-radius: 10%;
    color: rgb(0, 0, 0);
    font-size: 8px;
    display: grid;
    align-items: center;
}
.div1 img{
    height: 710px;
}
@media (max-width: 768px){
    .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 8px;
    }
    .div1 {
        grid-row: span 2 / span 2;
    }
    
    .div2 {
        grid-row: span 2 / span 2;
    }
    .div2 h1{
        color: rgb(255, 255, 255);
        font-size: 300%;
        text-align: center;
    }
    .div2 p{
        font-size: 150%;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .div3 {
        background-color: rgb(255, 238, 0);
        border-radius: 10%;
        color: rgb(0, 0, 0);
        font-size: 8px;
        display: grid;
        align-items: center;
    }
    .div1 img{
        height: 600px;
    }
}

