* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    padding: 50px 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}
.btn:hover{
    background-color: rgb(253, 207, 147);
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: lightgrey;
    }
}

/* Estilos para pantallas mayores a 1024px de ancho (escritorios) */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
        background-color: rgb(255, 255, 255);
    }
}